<html>
<div ng-app="OpenCIn">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Portal dos dados abertos do CIn UFPE" />
		<meta name="keywords" content="CIn,UFPE,dados abertos,linked data">
		<title>OpenCIn</title>
        <link href="css/lib/bootstrap.min.css" rel="stylesheet" />
        <link href="css/lib/awesome-bootstrap-checkbox.css" rel="stylesheet" />
		<link href="css/lib/angular-chart.min.css" rel="stylesheet" />

        <script src="js/lib/jquery-1.11.1.min.js"></script>
        <script src="js/lib/bootstrap.min.js"></script>
        <script src="js/lib/opencin-sparql.js"></script>
        <script src="js/lib/Autolinker.min.js"></script>
        <script src="js/lib/jquery.bridget.js"></script>
        <script src="js/lib/masonry.pkgd.min.js"></script>
        <script src="js/lib/angular.min.js"></script>
        <script src="js/lib/angular-cookes.min.js"></script>
        <script src="js/lib/angular-masonry.js"></script>
		<script src="js/lib/Chart.min.js"></script>
		<script src="js/lib/angular-chart.min.js"></script>
        <script src="js/modules.js" charset="utf-8"></script>
        <script src="js/strings.js" charset="utf-8"></script>
        <script src="js/menu-tree.js"  charset="utf-8"></script>
        <script src="js/controllers.js"  charset="utf-8"></script>
        <script src="js/directives.js"  charset="utf-8"></script>




        <link rel="stylesheet" href="css/lib/font-awesome.min.css">
        <link href="css/index.css" rel="stylesheet" />

    </head>

    <body>
        <div ng-controller="LanguageCtrl">

        </div>
        <div ng-controller="MenuCtrl">

            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">

                    </div>


                    <!-- Collect the nav links, forms, and other content for toggling -->
                        <ul class="nav navbar-nav" style="width:100%;">
							<li>
								<button type="button" class="btn btn-primary navbar-brand" aria-label="Left Align" ng-click="back()" ng-show="currentMenuStack.length > 1">
									<span class="fa fa-chevron-left" aria-hidden="true"></span>
									<!-- <a class="" href="#" ng-click="reload()">{{header}}</a> -->
								</button>
							</li>
                            <li ng-repeat="item in currentMenu" ng-class="{active: item.name == selected.name}" ng-click="menuClick(item.queryValue, item.name)"><a href=""><i class="fa {{item.icon}}"></i> <span class="hidden-xs">{{item.title}}</span></a>
                            </li>
							
							 <li class="dropdown" style="float: right; display: block;">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{lang.abbreviation}} <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="language in languages"><a href="#" ng-click="changeLanguage(language.abbreviation)">{{language.title}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    <!-- /.navbar-collapse -->


                </div>
                <!-- /.container-fluid -->
            </nav>

			<div class="col-sm-1 col-xs-1"> </div>
			<div class="col-sm-10 col-xs-10">
			
			
			<div class="row">
				<ol class="breadcrumb">

					<i class="fa fa-home"></i>
					<li ng-repeat="item in currentMenuStack" ng-click="back(item)"><a href="#">{{item.title}}</a>
					</li>
					<li>{{selected.title}}</li>
				</ol>
			</div>

			<div class="row"  ng-show="selected.name == 'intro'">
				<div class="panel panel-primary">
					<div class="panel-heading hero"><h3>OpenCIn</h3></div>
					<div class="panel-body">
						<p>Informações relacionadas ao CIn agora estão disponíveis ao público geral através de uma infra-estrutura de suporte à Web Semântica. 
						Os dados foram modelados através de uma <a href="http://www.cin.ufpe.br/~opencin/ontology/" data-toggle="tooltip" title="Ver descrição da ontologia"><u>ontologia</u></a> que descreve o ambiente acadêmico pelo qual
						o CIn-UFPE está imerso, essencialmente focada nos docentes e entidades relacionadas. Dela são extraídas as áreas de interesse de cada professor, 
						bem como as disciplinas por ele lecionadas, suas publicações, participações em eventos e os projetos que ele faz parte. 
						</p>
						<p>O acesso ao dados pode ser feito através desta interface Web ou de consultas SPARQL sob o <a href="http://webproj04.cin.ufpe.br/sparql/" data-toggle="tooltip" title="Ir para o endpoint SPARQL"><u>endpoint</u></a> do OpenCIn.
						</p>
						<p>
							<button class="btn btn-default btn-md" ng-click="menuClick('academic', 'academic')">
							Explorar dados <span class="fa fa-search fa-flip-horizontal" aria-hidden="true"></span> 
							</button>
						</p>
					</div>
					<script>
						<!-- Somente para inicializar os tooltips nos links acima -->
						$(function () {
						  $('[data-toggle="tooltip"]').tooltip()
						})
					</script>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading hero"><h3>Contribuidores</h3></div>
					<div class="panel-body">
						<table class="table">
						<thead> <tr><th>Professores</th></tr></thead>
						<tbody> <tr><td>Bernadette Lóscio</td><td>bfl@cin.ufpe.br</td></tr> </tbody>
						  </table>
						<table class="table">
						<thead> <tr><th>Alunos</th></tr></thead>
						<tbody> <tr><td>Bruna Baudel</td><td>bcbs@cin.ufpe.br</td></tr> <tr><td>Filipe Arruda</td> <td>fmca@cin.ufpe.br</td></tr>
						<tr><td>Jônatas Lira</td> <td>jlr@cin.ufpe.br</td></tr>
						<tr><td>Karina Silva</td> <td>kms2@cin.ufpe.br</td></tr>
						<tr><td>Karine Gomes</td> <td>kgmg@cin.ufpe.br</td></tr></tbody>
						  </table>
					</div>
				</div>
			</div>

            <div ng-controller="ListCtrl">

				<div class="row">
					<div class="row" ng-if="menuHasChart">
						<div class="col-md-12">
							<div class="alert alert-info" role="alert"> <span class="fa fa-bar-chart"></span> <span class="fa fa-pie-chart"></span>
								<span ng-if="selected.name != 'indicators'"> Existem indicadores sobre esses dados. 
									<a ng-if="charts.length > 0" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
									  Clique aqui para alternar visualização
									</a>
								</span>
								<span ng-if="selected.name == 'indicators'">
									Indicadores gerais da instituição
								</span>
								<span ng-if="charts.length == 0" style="margin-left: 10px"><i class="results fa fa-refresh fa-spin"></i></span>
								
							</div>
						</div>
					</div>
					<div class="row">
							<div ng-class="selected.name == 'indicators' ? 'collapse.in' : 'collapse'" id="charts">
								<div class="col-md-6" ng-repeat="chart in charts">
									<div class="panel panel-default">
										<div class="panel-heading">
											{{chart.title}}
										</div>
										<div class="panel-body">
											<canvas class="chart-base" chart-type="chart.type"
												chart-data="chart.data" chart-labels="chart.labels" 
												chart-series="chart.series" chart-legend="true" chart-options="{animation: false}">
											</canvas>
										</div>
									</div>
								</div>
							</div>
					</div>
				</div>
						
                <div class="row" ng-if="selected.name != 'intro' && selected.name != 'indicators'">
						
						<div class="row">
							<div ng-class="groups.length <= 1 ? 'col-md-12' : 'col-md-8'">
								<div id="filter-box" class="input-group filter-box">
									<span class="input-group-addon"> <i ng-hide="listLoaded" class="results fa fa-refresh fa-spin"></i> <span ng-show="listLoaded" class="badge">{{ (data | filter: filters.listFilter).length}}</span> <span id="content-desc" style="margin-left: 5px"> <span ng-hide="listLoaded"> {{getString("loading")}}</span><span ng-show="listLoaded"> <b> {{header}}</b></span> </span></span>
									<input type="text" id="filter" class="form-control" ng-model="filters.listFilter" value=""/>
									<span class="input-group-addon"> <i class="fa fa-search"></i> </span>
								</div>
							</div>						
							<div class="col-sm-4 col-md-4">
								<div class="row">
									<div ng-repeat="group in groups | filter: showGroupFilter" class="col-lg-3">
										<div class="checkbox checkbox-primary form-group">
											<input type="checkbox" id="group-{{group}}" checked ng-click="toggleGroup(group)" />
											<label for="group-{{group}}">
												{{group}}
											</label>
										</div>

									</div>
								</div>
							</div>
						</div>
							<div class="row" masonry="{transitionDuration: 0}" load-images="false">
								
								<div class="col-lg-4 col-sm-6 col-md-4 col-xs-12 masonry-brick" ng-show="listLoaded" ng-repeat="result in ( (data | filter: groupFilter) | filter: filters.listFilter)">
									<div class="panel panel-default results" ng-mouseleave="hover = false" ng-disabled="!result.clickable" ng-click="!result.clickable || listItemClick(result.queryValue, result.menuMatch, result.title == undefined ? result.desc : result.title)" ng-class="{'clickable': result.clickable, 'panel-default': (!hover || !result.clickable), 'panel-primary': (hover && result.clickable)}" ng-mouseenter="hover = true">
										<div class="panel-heading" ng-show="shouldShow('{{result.title}}')">
											<b>{{result.title}}</b>
										</div>
										<div class="panel-body">
											<div ng-bind-html="result.desc | toHtml"> </div>
										</div>
									</div>
								</div>

							</div>
                </div>


            </div>
			</div>
			<div class="col-sm-1 col-xs-1"> </div>

        </div>
    </body>

</html>
